<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Example</title>
    <!-- Bootstrap CSS 파일을 불러옵니다. -->
    //<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= locals.dirname %>/node_modules/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1>Hello, Bootstrap!</h1>
        <p>This is a simple example of Bootstrap.</p>
    </div>
    <!-- Bootstrap JS 파일을 불러옵니다. -->
    //<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= locals.dirname %>/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>