<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
        <style>
            body {
                font-size: 100px;
            }
        </style>
    </head>
    <body>
        <p>This is a <span style="color:green; font-weight:bold;"><%= nameTest %></span> board</p>
    </body>
</html>
